.header {
    background-color: rgba(0, 0, 0, 0.849);
    background-position: center;
    color: rgb(255, 81, 0);
    padding: 3px;
    text-align: center;
  }
  .topnav {
    overflow: hidden;
    background-color: #646363;
  }
  .topnav a {
    float: left;
    display: block;
    color: rgb(255, 81, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .footer {
    background-color: rgba(0, 0, 0, 0.849);
    padding: 10px;
    text-align: center;
    position: bottomleft;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: inline-start;
    margin: 10px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
